.__reacteditor.core {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	font-size: 20px;
}

.__reacteditor.core.mini {
	margin: auto;
	max-width: 800px;
}

.__reacteditor.core div[contenteditable="true"]:active, .__reacteditor.input {
	outline: none;
  border: none;
}

.__reacteditor.core div[contenteditable="true"]:focus, .__reacteditor.input{
	outline: none;
  border: none;
}

.__reacteditor.block {
	border-radius: 5px;
	line-height: 1.6em;
}

.__reacteditor.block.focused {
	background-image: linear-gradient(17deg,rgba(243,248,255,.03) 63.45%,rgba(207,214,229,.27) 98%);
}
